.CryptoCard {
  min-width: 310px;
  .priceHistoryChips {
    padding-top: 5px;

    display: flex;
    max-width: 300px;
    flex-wrap: wrap;
    gap: 5px;
  }
  .cryptoName {
    max-width: 140px;
    overflow: scroll;
    white-space: nowrap;
  }
}

// Different Component
.PurchaseCryptoForm {
  padding: 10px 0;

  .priceOverview {
    margin-bottom: 16px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    p {
      padding: 0 5px;
    }
  }
  .quantityInput {
    width: 120px;
  }
}
