.ProfileDrawer {
  .walletIcon {
    padding-top: 10px;

    display: flex;
    justify-content: center;
  }
  .tableHeaders {
    padding-top: 5px;
  }

  .portfolioSummary {
    padding: 10px 0;
    border-bottom: solid black 1px;

    // display: flex;
    gap: 5px;
    .portfolioDetails {
      padding-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      .valueTitle {
        font-size: 12px;
      }
    }
    .portfolioBreakdown {
      p {
        display: flex;
        align-items: center;
        font-size: 12px;
      }
    }
  }
}
