.Home {
  padding-top: 10px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .filterOptions {
    width: 100px;

    padding-top: 10px;
    display: flex;
    justify-content: center;
  }
  .cryptosContainer {
    width: clamp(340px, 1100px, 100vw);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;

    // Nested Component
    .CryptoCard {
      min-width: 310px;
      .priceHistoryChips {
        padding-top: 5px;

        display: flex;
        max-width: 300px;
        flex-wrap: wrap;
        gap: 5px;
      }
      .cryptoName {
        max-width: 140px;
        overflow: scroll;
        white-space: nowrap;
      }
    }
  }
}

// Conditionally Rendered Component
.PurchaseCryptoForm {
  padding: 10px 0;

  .priceOverview {
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    .cryptoDetails {
      display: flex;
      align-items: center;
      .buyPrice {
        font-size: 10px;
      }
      p {
        padding: 0 5px;
        font-size: 14px;
      }
    }
    .balanceDetails {
      display: flex;
      align-items: center;
      .balance {
        font-size: 10px;
      }
      p {
        padding: 0 5px;
        font-size: 14px;
      }
    }
  }

  .checkoutDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .quantityInput {
      width: 120px;
    }
    .totalCalculation {
      padding: 10px 5px;
      font-size: 14px;
    }
  }
  .purchaseBtn {
    margin-top: 15px;
  }
}

@media (max-width: 899px) {
  .Home {
    .filterOptions {
      width: 100%;
      .filterSelections {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (min-width: 900px) {
  .Home {
    justify-content: flex-start;
    .filterOptions {
      width: 120px;
      padding-left: 2vw;
    }
    .cryptosContainer {
      width: clamp(680px, 80vw, 90vw);
    }
  }
}
