@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
.Navbar {
  // Fixes/removes gradient that comes with MUI styling
  background-image: none !important;
  .logoContainer {
    display: flex;
    align-items: center;
    .logoImg {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
    .title {
      font-size: 25px;
      font-family: "Kdam Thmor Pro", sans-serif;
    }
  }
  .navbarContainer {
    background-color: black;

    .userAvatar {
      background-color: lightgray;
      color: black;
    }
  }
}

// Conditionally Rendered Component
.ProfileDrawer {
  .walletIcon {
    padding-top: 10px;

    display: flex;
    justify-content: center;
  }
  .tableHeaders {
    padding-top: 5px;
  }

  .portfolioSummary {
    padding: 10px 0;
    border-bottom: solid black 1px;

    // display: flex;
    gap: 5px;
    .portfolioDetails {
      padding-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      .valueTitle {
        font-size: 12px;
      }
    }
    .portfolioBreakdown {
      p {
        display: flex;
        align-items: center;
        font-size: 12px;
      }
    }
  }
}

// Conditionally Rendered Component
.SellCryptoForm {
  padding: 10px 0;

  .priceOverview {
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    .cryptoDetails {
      display: flex;
      align-items: center;
      .buyPrice {
        font-size: 10px;
      }
      p {
        padding: 0 5px;
        font-size: 14px;
      }
    }
    .balanceDetails {
      display: flex;
      align-items: center;
      .balance {
        font-size: 10px;
      }
      p {
        padding: 0 5px;
        font-size: 14px;
      }
    }
  }

  .checkoutDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .quantitySelectors {
      .quantityInput {
        width: 125px;
      }
      .checkBox {
        margin-left: 5px;
      }
    }
    .totalCalculation {
      padding: 10px 5px;
      font-size: 14px;
    }
  }
}
