// Landing Page Route and sub-components
@import "./_landingPage/landingPage";
@import "./_landingPage/signInForm";
@import "./_landingPage/createAccountForm";
// Home Page Route and Sub-Components
@import "./_home/navbar";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

a:hover,
a:visited,
a:active,
a {
  text-decoration: none;
  color: inherit;
}
